a {
    text-decoration: none;
}

/*Teal color for all headings and backgrounds #4aaaa5*/
h1 {
    
    background-color: #4aaaa5;
    font-color: #4aaaa5;
    width: 45%
    
}

/*Regular font color for paragaphs and all text #777*/

body { 
    color: #777;
    font-family: 'Arial', 'Helvectica Neue', Helvetica, sans-serif;
    width: 960px;
    
    }

/*Footer background color #666*/

footer{
    
    background-color: #666;
    height: 30px;
    font-size: 12px;
    color: white;
    width: 2024px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

/*Main content background color #fff, border color #ddd*/

main-content {
    
    background-color: #fff;
    border-color: #ddd;
    width: 650px;
}


/*Fonts for heading 'Georgia', Times, Times New Roman, serif;
Main header background color #fff and border color #ccc*/

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #fff;
    border-color: #ccc;

}


#menuBar {
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: right;
    border-color: solid, red; 
    
}

/*Sidebar styling*/

#sidebar1 {
    float: right;
    width: 270px;
    margin:auto;
    padding: 0;
    height: auto;
    /*position?*/

}
    /*background-color:;*/

/*All other fonts 'Arial, 'Helvectica Neue', Helvetica, sans-serif*/

 

/*Profile photo styling*/
#bio{
    float: left;

}

/*styling for hyperlinks*/


/* About me id styling*/

#aboutMe {
    float: right;
}

/* my name styling*/
#myName {
    margin-left: 20px;
    text-align: center;
    padding:0;
}